$background-color: #06070d;
$secondary-color: #282e33;
$secondary-gradient-color: #838da1;
$accent1:orange ;
$accent2:teal ;
$font-color: #f2f2f2;
$font-color2:rgb(179, 49, 92);
$font-color3:rgb(99, 178, 204);
$font-color4:rgb(231, 173, 66);
