@import "./colors";

footer {
  background-color: $secondary-color;
  margin-top: 1rem;
  padding: 1rem;

  .logo {
    font-size: 5rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
    li {
      a {
        color: $font-color;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
