/* Yuki Matsubara Morning Class Week4 assignment */
@import "./colors";

/* Header */
header {
  background-color: $secondary-color;
  padding-bottom: 0.5rem;

  a {
    color: $font-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .page-name {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: $font-color;
  }

  .page-name:hover {
    color: $font-color2;
  }
  .text-with-flags {
    text-align: center;
  }

  @media only screen and (min-width: 1024px) {
    .text-with-flags {
      text-align: left !important;
    }
  }

  .country-flag {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .country-flag:last-of-type {
    margin-left: 0.5rem;
  }

  .menu-button {
    margin-left: 2.5rem;
  }

  form {
    i {
      margin-left: 1rem;
    }
    .box {
      margin-left: 1.5rem;
      width: 100%;
      margin-top: 0.25rem;
    }
  }
}
/* Color control */
.fas,
.far {
  color: $accent2;
}
