footer {
  background-color: #282e33;
  margin-top: 1rem;
  padding: 1rem;
}

footer .logo {
  font-size: 5rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Yuki Matsubara Morning Class Week4 assignment */
/* Header */
header {
  background-color: #282e33;
  padding-bottom: 0.5rem;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .page-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

header .text-with-flags {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  header .text-with-flags {
    text-align: left !important;
  }
}

header .country-flag {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
}

header .country-flag:last-of-type {
  margin-left: 0.5rem;
}

header .menu-button {
  margin-left: 2.5rem;
}

header form i {
  margin-left: 1rem;
}

header form .box {
  margin-left: 1.5rem;
  width: 100%;
  margin-top: 0.25rem;
}

/* Color control */
.fas,
.far {
  color: teal;
}

/* Yuki Matsubara Morning Class Week4 assignment */
/* Yuki Matsubara Morning Class Week4 assignment */
/* Header */
header {
  background-color: #282e33;
  padding-bottom: 0.5rem;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .page-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

header .text-with-flags {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  header .text-with-flags {
    text-align: left !important;
  }
}

header .country-flag {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
}

header .country-flag:last-of-type {
  margin-left: 0.5rem;
}

header .menu-button {
  margin-left: 2.5rem;
}

header form i {
  margin-left: 1rem;
}

header form .box {
  margin-left: 1.5rem;
  width: 100%;
  margin-top: 0.25rem;
}

/* Color control */
.fas,
.far {
  color: teal;
}

footer {
  background-color: #282e33;
  margin-top: 1rem;
  padding: 1rem;
}

footer .logo {
  font-size: 5rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Image section*/
main .Image {
  margin: auto;
  margin-top: 4em;
  position: relative;
  width: 100%;
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#282e33), to(#b8babd));
  background: linear-gradient(to bottom, #282e33 0%, #b8babd 100%);
}

main .Image img {
  position: relative;
  top: 10%;
  display: block;
  margin: auto;
  height: 80%;
  width: 40%;
}

main .Image a {
  position: absolute;
  top: 1em;
  left: 3em;
  font-size: 1.5em;
  text-decoration: none;
  color: #f2f2f2;
}

main .Image a:hover {
  color: orange;
  text-decoration: underline;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .Image .fa-expand-alt {
  position: absolute;
  top: 0.5em;
  right: 2em;
}

main .Image .action {
  position: absolute;
  bottom: 1em;
  right: 3em;
}

main .Image .action .fa-heart {
  color: #b3315c;
}

main .Image .action .fa-share-square {
  color: #12799b;
}

main .Image .action .fa-download {
  color: #e79242;
}

/* Profile section*/
main .Profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 0.7em;
}

main .Profile .profpic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .Profile .profpic img {
  border-radius: 50%;
  width: 100%;
  height: 80%;
  padding: 0.5em;
}

main .Profile .introduction {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
}

main .Profile .introduction .name {
  padding-top: 0.5em;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 0.1em teal solid;
}

main .Profile .introduction .intro {
  text-align: justify;
}

main .Profile .views {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.2em;
  padding-top: 1.2em;
}

main .Profile .views span {
  font-size: 1.5em;
  color: #b3315c;
  border-bottom: teal solid 0.1em;
}

/* Comments Section*/
main .Comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 0.7em;
}

main .Comments h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main .Comments h3 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding-left: 1em;
}

main .Comments .userComments1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  border: 1px solid lightgrey;
}

main .Comments .userComments2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
  border: 1px solid lightgrey;
}

main .Comments .userComments3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
  border: 1px solid lightgrey;
}

main .Comments .recommend {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 10;
  grid-row: 3/13;
  padding-left: 5em;
}

main .Comments .recommend div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Comments img {
  border-radius: 50%;
  padding: 1em;
  width: 8vw;
  height: 20vh;
}

.Comments .com {
  text-align: justify;
  padding-right: 1em;
}

.Comments .username {
  font-size: 2em;
}

.user1,
.user2,
.user3 {
  padding-right: 2em;
}

.recommend img {
  border-radius: 0%;
  width: 10vw;
  height: 20vh;
}

/* Yuki Matsubara Morning Class Week4 assignment */
/* Yuki Matsubara Morning Class Week4 assignment */
/* Header */
header {
  background-color: #282e33;
  padding-bottom: 0.5rem;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .page-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
}

header .page-name:hover {
  color: #b3315c;
}

header .text-with-flags {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  header .text-with-flags {
    text-align: left !important;
  }
}

header .country-flag {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
}

header .country-flag:last-of-type {
  margin-left: 0.5rem;
}

header .menu-button {
  margin-left: 2.5rem;
}

header form i {
  margin-left: 1rem;
}

header form .box {
  margin-left: 1.5rem;
  width: 100%;
  margin-top: 0.25rem;
}

/* Color control */
.fas,
.far {
  color: teal;
}

footer {
  background-color: #282e33;
  margin-top: 1rem;
  padding: 1rem;
}

footer .logo {
  font-size: 5rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Login User*/
main > p {
  padding-top: 2em;
}

.loginUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 3em;
}

.loginUser img {
  border-radius: 50%;
  width: auto;
  height: 20vh;
}

@media (max-width: 768px) {
  .loginUser img {
    /* Phone or Tablet*/
    padding-left: 1em;
    width: auto;
  }
}

.loginUser p {
  font-weight: bold;
  font-size: 2em;
  margin-left: 3em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .loginUser p {
    /* Phone or Tablet */
    margin-left: 2em;
  }
}

.loginUser a {
  text-decoration: none;
  padding-left: 5em;
  padding-top: 0.5em;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .loginUser a {
    /* Phone or Tablet */
    padding-left: 2em;
  }
}

h1 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

/* Edit post */
.post {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 10vh;
  padding: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#282e33), to(#b8babd));
  background: linear-gradient(to bottom, #282e33 0%, #b8babd 100%);
  border-radius: 3%;
}

.post .fa-edit {
  position: absolute;
  top: 15%;
  left: 4%;
  color: #b3315c;
  z-index: 1;
}

@media (max-width: 768px) {
  .post .fa-edit {
    /* Phone and Tablet*/
    top: 20%;
    left: 7%;
  }
}

.post .editPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .editPhoto img {
  height: 40vh;
  width: 50%;
}

.post .editPhoto .text {
  height: 40vh;
  width: 50%;
}

.post .postButton {
  position: absolute;
  right: 4%;
  bottom: 20%;
  width: 10%;
  height: 3em;
  border-radius: 10%;
  background: -webkit-gradient(linear, left top, right top, from(#3f87a6), color-stop(#ebf8e1), to(#f69d3c));
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

@media (max-width: 768px) {
  .post .postButton {
    /* Phone and Tablet*/
    right: 7%;
    bottom: 25%;
    height: 2em;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #06070d;
  color: #f2f2f2;
}

.font-weight-bold {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */
